<div class="header">
  <span>User Card Info</span>
</div>


<div class="container">

  <!-- Deposit Form -->
  <h3>Request Bank Deposit</h3>

   <!-- Success/Error Message -->
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <form (ngSubmit)="createDeposit()">
    <label>Account Number:</label>
    <input type="text" [(ngModel)]="request.accountNumber" name="accountNumber" required /><br /><br />

    <label>Deposit Amount:</label>
    <input type="number" [(ngModel)]="request.depositAmount" name="depositAmount" required /><br /><br />

    <!-- <div>
      <label for="status">Deposit Status</label>
      <select [(ngModel)]="request.bankDepositStatus" name="bankDepositStatus">
        <option [ngValue]="BankDepositStatus.SUCCESS">Success</option>
        <option [ngValue]="BankDepositStatus.FAILED">Failed</option>
      </select>
    </div> -->

    <button type="submit">Submit Deposit</button>
    <button type="button" (click)="getDeposits()">My Deposits</button>
    <button type="button" (click)="getAlls()">All Deposits</button>
  </form>

 

  <!-- Deposit List -->
  <div *ngIf="deposits.length > 0">
    <h4>Deposit List</h4>
    <table border="1" cellpadding="6" cellspacing="0">
      <thead>
        <tr>
          <th>Account</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deposit of deposits">
          <td>{{ deposit.accountNumber }}</td>
          <td>{{ deposit.depositAmount | currency: 'BDT ':'symbol':'1.2-2' }}</td>
          <td>{{ deposit.bankDepositStatus }}</td>
          <td>{{deposit.depositDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="deposits.length === 0 && !errorMessage">
    <p>No deposits found.</p>
  </div>
</div>
