<!-- birthday-event.component.html -->
<div class="form-container">
    <h2>Birthday Event Form</h2>
    <form >
      <div>
        <label for="name">Name:</label>
        <input id="name"  type="text" />
      </div>

      <div>
        <label for="name">Email:</label>
        <input id="email"  type="email" />
      </div>
  
      <div>
        <label for="phonenumber">Phone Number:</label>
        <input id="phonenumber"  type="text" />
      </div>

      <div>
        <label for="date">Event Date:</label>
        <input id="date"  type="date" />
      </div>
  
      <div>
        <label for="eventDescription">Event Description:</label>
        <textarea id="eventDescription" ></textarea>
      </div>
  
      <div>
        <label for="location">Event Location:</label>
        <input id="location" formControlName="location" type="text" />
      </div>
  
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  