<div class="menu">
    <div class="logo">
        <h2>Cafe</h2>
    </div>
    <div class="menu-list">
        <ul>
            <li><a routerLink="/dashboard" href="#"><i class="bi bi-house-gear-fill"></i>Deshboard</a></li>
            <li><a routerLink="/stores" href="#"><i class="fa-sharp fa-solid fa-store"></i>Stores</a></li>
            <li><a routerLink="/users"  href="#"><i class="fa-solid fa-user-tie"></i>Users</a></li>
            <li><a href="#"><i class="fa-solid fa-list"></i>Category</a></li>
            <li><a routerLink="/products" href="#"><i class="fa-brands fa-product-hunt"></i>Products</a></li>
            <li><a routerLink="/orders" href="#"><i class="fa-brands fa-first-order-alt"></i>Orders</a></li>
        </ul>
    </div>
</div>