.logo{
    text-align: center;
}
.logo img{
    width: 110px;
    margin-top: 20px;
}
.menu-list{
    margin-top: 15px;
}
.menu-list ul{
    padding: 0;
}
.menu-list ul li{
    list-style: none;
    padding: 10px 0;
}
.menu-list ul li:hover{
    background: rgb(11, 94, 117);
}
.menu-list ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400; 
}
.menu-list ul li a i{
    margin-right: 7px;
    margin-left: 20px;
}
