<div class="menu">
    <div class="logo">
       
    </div>
    <div class="menu-list">
        <ul>
            <li><a routerLink="./dashboard"><i class="bi bi-house-gear-fill"></i>Deshboard</a></li>
            <li><a routerLink="./stores"><i class="fa-sharp fa-solid fa-store"></i>Stores</a></li>
            <li><a routerLink="./users"><i class="fa-solid fa-user-tie"></i>Users</a></li>
            <li><a><i class="fa-solid fa-list"></i>Category</a></li>
            <li><a routerLink="./products" ><i class="fa-brands fa-product-hunt"></i>Products</a></li>
            <li><a routerLink="./orders"><i class="fa-brands fa-first-order-alt"></i>Orders</a></li>
        </ul>
    </div>
</div>