
<div class="transaction-container">
  <!-- <h2 class="mb-3">Bank Account Management</h2> -->

  <h4>📄 Accounts Awaiting Activation</h4>
  <table class="transaction-table">
    <thead class="thead-dark">
      <tr>
        <th>Account Number</th>
        <th>User</th>
        <th>Type</th>
        <th>Status</th>
        <th>Balance</th>
        <th>Opened Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let acc of accounts">
        <td>{{ acc.accountNumber }}</td>
        <td>{{ acc.userName }}</td>
        <td>{{ acc.type }}</td>
        <td [ngClass]="getStatusClas(acc.status)">{{ acc.status }}</td>
        <td>{{ acc.availableBalance | currency }}</td>
        <td>{{ acc.openedDate }}</td>
        <td>
          <button
            class="btn btn-success btn-sm"
            *ngIf="acc.status === 'REQUESTED'"
            (click)="approveAccount(acc.id)"
          >
            Approve
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="message" class="alert alert-info mt-3">
    {{ message }}
  </div>
</div>