<div class="header">
  <span>User Card Info</span>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-arrow-right-square-fill" style="margin-right: 8px;"></i> Request 
  </button>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Request New Card</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form [formGroup]="form">
                <div class="mb-3">
                <label>Bank Account ID</label>
                <input type="number" class="form-control" formControlName="bankAccountId" />
                </div>
                <div class="mb-3">
                <label>Card Type</label>
                <select class="form-control" formControlName="cardType">
                    
                    <option value="DEBIT">DEBIT</option>
                    <option value="CREDIT">CREDIT</option>
                </select>
                </div>
                <button class="btn btn-primary res" (click)="requestCard()">Request Card</button>
            </form>
      </div>
    </div>
  </div>
</div>


