.side-menu{
    border-radius: 10px;
}
.sidebar {
    margin-top: 20px;
}
.logo{
    margin-top: 38px;
}
.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a img{
   width: 53px;
}
.manu_list{
    margin-top: 35px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    /* margin-bottom: 1rem; */
    padding: 10px 0;
}
li:hover{
    background-color: #F3FCF7;
    color: #22C55E;
}

li a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    margin-left: 22px;
    font-size: 17px;
}
li a i{
    margin-right: 15px;
}
li a:hover{
    color: #22C55E;
}