.product-container{
    max-width: 900px;
    margin: 20px auto;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
}
.row{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 15px;
}
.col-md-6{
    width: 48%;
}
input{
    width: 100%;
    padding: 0 11px;
}
.descrip{
    width: 100%;
    padding: 0 11px;
}
.control{
    width: 100%;
    padding: 1.5px;
}