<div class="img">
    
</div>

<div class="container">
    <div class="card">
        <h3>Current Deposit</h3>
        <button>VIEW DETAILS</button>
    </div>
    <div class="card">
        <h3>Double Benefit Account</h3>
        <button>VIEW DETAILS</button>
    </div>
    <div class="card">
        <h3>Kotipoti Deposit Scheme (KDS)</h3>
        <button>VIEW DETAILS</button>
    </div>
    <div class="card">
        <h3>Century Deposit Scheme</h3>
        <button>VIEW DETAILS</button>
    </div>
    <div class="card">
        <h3>Savings Deposit</h3>
        <button>VIEW DETAILS</button>
    </div>
    <div class="card">
        <h3>Monthly Savings Scheme</h3>
        <button>VIEW DETAILS</button>
    </div>
</div>
