<div class="container mt-5" style="width: 1200px;">
  <h3>List of Products</h3>
  <hr/>
  @if (products.length > 0) {
  <table class="table table-striped mt-3">
      <thead>
          <tr>
              <th>Serial</th>
              <th>Product Name</th>
              <th>Product Price</th>
              <th>Quantity</th>
              <th>Purchase Date</th>
              <th>Sell Date</th>
              <th>Buy From</th>
              <th>Sell To</th>
              <th>Options</th>
            </tr>
      </thead>
      <tbody id="tableBody">
          @for (product of products; track product) {
          <tr>
              <td>{{ products.indexOf(product)+1 }}</td>
              <td>{{ product.product_name }}</td>
        <td>{{ product.product_price }}</td>
        <td>{{ product.product_quantity }}</td>
        <td>{{ product.purchase_date }}</td>
        <td>{{ product.sell_date }}</td>
        <td>{{ product.buy_from }}</td>
        <td>{{ product.sell_to }}</td>
              <td>
                  <button class="btn btn-warning btn-sm me-1" (click)="updateProduct(product)">Update</button>
                  &nbsp;
                  <button class="btn btn-danger btn-sm" (click)="deleteProduct(product)">Delete</button>
              </td>
          </tr>
      }
      </tbody>
  </table>
  } @else {
      <div class="alert alert-warning">
          <a>No data found!</a>
      </div>
  }
</div>