<div class="container">
    <header class="header">
      <h1>You're Invited to Our Conference!</h1>
      <h2>Join us for a magical celebration of love</h2>
    </header>
    <section class="event-info">
        <h3>Conference:</h3>
        <p>We are excited to share our special day with you!</p>
        <ul>
          <li><strong>Date:</strong> June 25, 2025</li>
          <li><strong>Time:</strong> 4:00 PM</li>
          <li><strong>Location:</strong> 456 Dream Venue Street, Love Town</li>
        </ul>
      </section>
      
      <section class="event-details">
        <h3>Schedule of Events:</h3>
        <p>It will be a day to remember with fun activities, food, dancing, and plenty of love!</p>
        <ul>
          <li><strong>4:00 PM:</strong> Ceremony Begins</li>
          <li><strong>5:00 PM:</strong> Cocktail Hour</li>
          <li><strong>6:00 PM:</strong> Reception & Dinner</li>
          <li><strong>8:00 PM:</strong> Dancing and Entertainment</li>
        </ul>
      </section>
      <button type="submit" id="sub" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Booking Now
      </button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-event-form></app-event-form>
        </div>
      </div>
    </div>
  </div>

