.header {
  /* background: linear-gradient(135deg, #00d4ff, #007bff);  */
  background: #394867;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px dashed white; /* Dashed border at the bottom */
  margin-top: 30px;
}

.header span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
}


form {
  /* max-width: 400px;
  margin: 30px auto; */
  /* padding: 20px; */
  /* border: 1px solid #ccc; */
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 5px;
  margin-top: 26px;
}
h2{
      margin-top: 29px;
}

input {
  padding: 10px 12px;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.2s ease;
}

input:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  /* max-width: 800px; */
  /* margin: 20px auto; */
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

thead {
  background-color: #394867;
  color: white;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

th {
  font-weight: 600;
}

td:last-child {
  text-align: center;
}

button {
  padding: 6px 10px;
  background-color: #527e87;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #06545a;
}


/*status*/
.pending-status {
  color: orange;
  font-weight: bold;
}
.approved-status {
  color: green;
  font-weight: bold;
}
.cancel-status {
  color: red;
  font-weight: bold;
}

