<h2>User Loan Panel</h2>

<form (ngSubmit)="requestLoan()">
  <div class="forms" style="display: flex;">
    <div>
      <label for="#">Account Number</label>
      <input [(ngModel)]="loanRequest.accountNumber" name="acc" required />
    </div>
    <div>
      <label for="#">Amount</label>
      <input type="number" [(ngModel)]="loanRequest.amount" name="amt" required />
    </div>
    <div>
      <label for="#">Interest Rate</label>
      <input type="number" [(ngModel)]="loanRequest.interestRate" name="rate" required />
    </div>
    <div>
      <label for="#">Date</label>
      <input type="date" [(ngModel)]="loanRequest.dueDate" name="due" required />
    </div>
  </div>
  <div>
    <button type="submit" style="margin-top: 20px; ">Request Loan</button>
  </div>
</form>




<table border="1" style="margin-top: 20px">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Amount</th>
      <th>Approve Amount</th>
      <th>Monthly Interest</th>
      <th>Yearly Interest</th>
      <th>Accept Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loans of loan">
      <td>{{ loans.accountNumber }}</td>
      <td>{{loans.approvedAmount}}</td>
      <td>{{ loans.amount }}</td>
      <td>{{ loans.monthlyInterest }}</td>
      <td>{{ loans.yearLyInterest }}</td>
      <td>{{loans.acceptDate}}</td>
      <td [ngClass]="getStatusClass(loans.status)">{{ loans.status }}</td>
      <td>
        <button *ngIf="loans.status === 'PENDING'" (click)="canceUserlLoan(loans.loanId)">Cancel</button>
      </td>
    </tr>
  </tbody>
</table>