<h2>User Loan Panel</h2>

<form (ngSubmit)="requestLoan()">
  <input [(ngModel)]="loanRequest.accountNumber" name="acc" placeholder="Account #" required />
  <input type="number" [(ngModel)]="loanRequest.amount" name="amt" placeholder="Amount" required />
  <input type="number" [(ngModel)]="loanRequest.interestRate" name="rate" placeholder="Interest Rate (%)" required />
  <input type="date" [(ngModel)]="loanRequest.dueDate" name="due" required />
  <button type="submit">Request Loan</button>
</form>

<table border="1" style="margin-top: 20px">
  <thead>
    <tr>
      <th>ID</th><th>Amount</th><th>Status</th><th>Monthly Interest</th><th>Yearly Interest</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loans of loan">
      <td>{{ loans.loanId }}</td>
      <td>{{ loans.amount }}</td>
      <td>{{ loans.status }}</td>
      <td>{{ loans.monthlyInterest }}</td>
      <td>{{ loans.yearLyInterest }}</td>
      <td>
        <!-- <button *ngIf="loan.status === 'PENDING'" (click)="cancelLoan(loans.loanId)">Cancel</button> -->
      </td>
    </tr>
  </tbody>
</table>

