<footer class="bg-dark text-white text-center p-3 mt-5">
    <p>&copy; 2025 my angular app.</p>
  </footer>   <br><br> 

    <!-- <table class="table table-striped" style="background-color: black; color: aliceblue;">
        <thead style="height: 30px;">
          <th>Name</th>
          <th>Age</th>
          <th>City</th>
          <th>profiePic</th>
        </thead>
        <tbody>
          @for(use of user; track use.name){
            <tr>
              <th>{{use.name}}</th>
              <th>{{use.age}}</th>
              <th>{{use.city}}</th>
              <th><img src="{{use.profiePic }}" alt="{{use.name}}" width="80px" height="50px"></th>
            </tr>
          }
        </tbody>
      </table> -->

