<nav>
  <div class="nav-content">
    <div class="content">
      <div class="logos">
        <img src="logo/logo-sm.png" alt="">
         <h2 style="font-size: 25px;">Bank</h2>
      </div>
  
      <div class="nav-left" id="navLeft">
        <a routerLink="./home" >Home</a>
        <a routerLink="./deposits">Deposit</a>
        <a href="#">Card</a>
        <a href="#">About</a>
      </div>
    </div>

    <div class="nav-right" id="navRight">
      <button routerLink="/loging" class="login-button"><i class="bi bi-box-arrow-in-right" style="margin-right: 9px;"></i>Login</button>
    </div>
  </div>
</nav>
