<div class="header">
  <span>User Card Info</span>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
    <i class="bi bi-arrow-right-square-fill" style="margin-right: 8px;"></i> Request 
  </button>
</div>


<!-- <div class="container">
        <h3>Request New Account</h3>
        <form (ngSubmit)="requestAccount()">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" [(ngModel)]="accountRequest.name" name="name" required/>
            </div>
            <div class="form-group">
                <label for="type">Account Type:</label>
                <select id="type" [(ngModel)]="accountRequest.type" name="type" required>
                    <option value="" disabled selected>Select Account Type</option>
                    <option value="SAVING">Saving</option>
                    <option value="CURRENT">Current</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" id="amount" [(ngModel)]="accountRequest.balance" name="amount" min="0" required />
            </div>
            <div class="form-group">
                <label for="date">Requested Open Date:</label>
                <input type="date" id="date" [(ngModel)]="accountRequest.requestDate" name="date" required />
            </div>
            <button type="submit" class="btn btn-primary">Request Account</button>
        </form> -->

        <h3>Your Accounts</h3>
        <ul *ngFor="let account of accounts">
            <!-- Sample data for display -->
            <li >
              {{account.accountNumber}} - {{account.userName}} - {{account.type}} - {{account.status}} - 
               Balance: {{account.availableBalance}} - Opened: {{account.openedDate || 'Pending'}}
            </li>
        </ul>
 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Request New Card</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form (ngSubmit)="requestAccount()">
                <div class="mb-3">
                <label for="name">Name:</label>
                <input type="text" [(ngModel)]="accountRequest.name" name="name" required/>
                </div>
                <div class="mb-3">
                <label for="type">Account Type:</label>
                <select id="type" [(ngModel)]="accountRequest.type" name="type" required>
                    <option value="" disabled selected>Select Account Type</option>
                    <option value="SAVING">Saving</option>
                    <option value="CURRENT">Current</option>
                </select>
                </div>
                <div class="mb-3">
                  <label for="amount">Amount:</label>
                   <input type="number" id="amount" [(ngModel)]="accountRequest.balance" name="amount" min="0" required />
                </div>
                <div class="mb-3">
                 <label for="date">Requested Open Date:</label>
                 <input type="date" id="date" [(ngModel)]="accountRequest.requestDate" name="date" required />
                </div>
                   <button type="submit" class="btn btn-primary">Request Account</button>
            </form>
      </div>
    </div>
  </div>
</div>









<!-- <form (ngSubmit)="requestAccount()">
  <label>Name:</label>
  <input [(ngModel)]="accountRequest.name" name="name" required />

  <label>Account Type:</label>
  <select [(ngModel)]="accountRequest.type" name="type" required>
    <option value="SAVING">Saving</option>
    <option value="CURRENT">Current</option>
  </select>

  <label>Initial Amount:</label>
  <input type="number" [(ngModel)]="accountRequest.balance" name="amount" min="0" required />

  <label>Requested Open Date:</label>
  <input type="date" [(ngModel)]="accountRequest.requestDate" name="date" required />

  <button type="submit">Request Account</button>
</form>

<h3>Your Accounts</h3>
<ul>
  <li *ngFor="let account of accounts">
    {{account.accountNumber}} - {{account.userName}} - {{account.type}} - {{account.status}} - 
    Balance: {{account.availableBalance}} - Opened: {{account.openedDate || 'Pending'}}
  </li>
</ul> -->

