<div class="container mt-5">
    <h2>Person Information</h2>
    @if(users.length>0){
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        @for(user of users; track users){
        <tr>
          <td>{{users.indexOf(user)+1}}</td>
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.address}}</td>
          <td>
            
              <button class="btn btn-success" style="margin: 0 15px;" (click)="editUser(user)">Update</button>
              <button class="btn btn-danger" (click)="deleteSource(user)">Delete</button>
           
          </td>
        </tr>
      }
      </tbody>
    </table>
  }@else {
    <div class="alert">
      <p>data not found</p>
    </div>
  }
  </div>
