
.regis{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 500px;
  height: 100%;
  background: #eceffc;
  padding: 70px 0;
}
.regis form{
  width: 450px;
  height: 320px;
  background: rgba(0, 0, 0, 0.8);
  padding: 70px 50px;
  border-radius: 10px;
}
.regis button{
 width: 100%; 
}
