<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="margin-top: 60px;">
                <div class="text">
                    <h2>Get in Touch</h2>
                    <p>We are available 24/7 by fax, e-mail or by phone. You can also use our quick contact form to ask
                        a question about our services that we offer on a regular basis. We would be pleased to answer
                        your questions.</p>
                </div>
                <div class="from" style="margin-top: 32px;">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="#">FIRST NAME</label>
                                <input type="text" name="name" placeholder="Your First Name" style="width: 100%;">
                            </div>
                            <div class="col-md-6">
                                <label for="#">LAST NAME</label>
                                <input type="text" name="last" placeholder="Your Last Name" style="width: 100%;">
                            </div>
                        </div>
                        <div>
                            <label for="#">YOUR MESSAGE</label>
                            <textarea name="message" id="" placeholder="Write Your Message Here"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="#">E-MAIL</label>
                                <input type="email" name="email" placeholder="Enter Your Email" style="width: 100%;">
                            </div>
                            <div class="col-md-6 submit" style="display: flex; align-items: center; justify-content: center;">
                                <a href="#">SENT MESSAGE</a>
                            </div>
                        </div>
                        
                    </form>
                </div>

            </div>
            <div class="col-md-4" style="margin-top: 60px;">
                <div class="contact-info-section">
                    <!-- <h2>Follow Us</h2> -->
                  
                    <div class="info-grid">
                      <div class="info-box">
                        <i class="icon fas fa-phone-alt"></i>
                        <h4>Phone</h4>
                        <p>1-800-1234-567</p>
                      </div>
                  
                      <div class="info-box">
                        <i class="icon fas fa-map-marker-alt"></i>
                        <h4>Address</h4>
                        <p>4578 Marmora St,<br>San Francisco D04 89GR</p>
                      </div>
                  
                      <div class="info-box">
                        <i class="icon fas fa-clock"></i>
                        <h4>Opening Hours</h4>
                        <p>9:00am – 7:00pm</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>