<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="margin-top: 60px;">
                <div class="text">
                    <h2>Get in Touch</h2>
                    <p>We are available 24/7 by fax, e-mail or by phone. You can also use our quick contact form to ask
                        a question about our services that we offer on a regular basis. We would be pleased to answer
                        your questions.</p>
                </div>
                <div class="from">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="#">FIRST NAME</label>
                                <input type="text" name="name" placeholder="Your First Name" style="width: 100%;">
                            </div>
                            <div class="col-md-6">
                                <label for="#">LAST NAME</label>
                                <input type="text" name="last" placeholder="Your Last Name" style="width: 100%;">
                            </div>
                        </div>
                        <div>
                            <label for="#">YOUR MESSAGE</label>
                            <textarea name="message" id="" placeholder="Write Your Message Here"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="#">E-MAIL</label>
                                <input type="email" name="email" placeholder="Enter Your Email" style="width: 100%;">
                            </div>
                            <div class="col-md-6">
                                <button>SENT MESSAGE</button>
                            </div>
                        </div>
                        
                    </form>
                </div>

            </div>
            <div class="col-md-4">
                <h2>Hi</h2>
            </div>
        </div>
    </div>
</div>