.card_menu{
    background-color: #E5E5E5;
    height: 89vh;
}
.col-md-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 12px;
    padding: 10px 22px;
    justify-content: center;
    margin-right: 15px;
    margin-top: 40px;
}
.img img{
    width: 288px;
}
.img-tex a{
    text-decoration: none;
    flex-direction: column;
    display: flex;
    font-size: 20px;
    /* font-weight: 500;
    color: #000; */
}
.img-tex a h4{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
}
.img-tex a h4:hover{
    color: #75b958;
}
.img-tex .view{
    color: #75b958;
}
.img-tex .view span{
    color: #9a8f8f;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.price span{
    font-size: 23px;
    font-weight: 600;
}
.price a{
    font-size: 16px;
    color: #000;
    border: 1px solid #75b958;
    width: 116px;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
}
.price a:hover{
    background-color: #000;
    color: #fff;
    border: none;

    
}