<div class="card_menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="img">
                    <a href="#"><img src="images/pizzas-4-310x260.png" alt=""></a>
                </div>
                <div class="img-tex">
                    <a href="#"><h4>Seafood pizza</h4></a>
                    <span class="view">4.8/5 Excellent <span>(1214 reviewes)</span></span>
                    <div class="price">
                        <span>$18.00</span>
                        <a href="#">Add to Card</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                   <a href="#"> <img src="images/salads-1-310x260.png" alt=""></a>
                </div>
                <div class="img-tex">
                    <a href="#"><h4>Seafood pizza</h4></a>
                    <span class="view">4.8/5 Excellent <span>(1214 reviewes)</span></span>
                    <div class="price">
                        <span>$18.00</span>
                        <a href="#">Add to Card</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                   <a href="#"> <img src="images/salads-4-310x260.png" alt=""></a>
                </div>
                <div class="img-tex">
                    <a href="#"><h4>Chicken Cutlet</h4></a>
                    <span class="view">4.8/5 Excellent <span>(1214 reviewes)</span></span>
                    <div class="price">
                        <span>$18.00</span>
                        <a href="#">Add to Card</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <a href="#"><img src="images/salads-5-310x260.png" alt=""></a>
                </div>
                <div class="img-tex">
                    <a href="#"><h4>Chicken Cutlet</h4></a>
                    <span class="view">4.8/5 Excellent <span>(1214 reviewes)</span></span>
                    <div class="price">
                        <span>$18.00</span>
                        <a href="#">Add to Card</a>
                    </div>
                </div>
            </div>
        </div>
        <!--sceond card-->
        <div class="row">
            <div class="col-md-3">
                <div class="img">
                    <a href="#"><img src="images/pizzas-4-310x260.png" alt=""></a>
                </div>
                <div class="img-tex">
                    <a href="#"><h4>Seafood pizza</h4></a>
                    <span class="view">4.8/5 Excellent <span>(1214 reviewes)</span></span>
                    <div class="price">
                        <span>$18.00</span>
                        <a href="#">Add to Card</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <a href="#"><img src="images/salads-1-310x260.png" alt=""></a>
                </div>
                <div class="img-tex">
                    <a href="#"><h4>Seafood pizza</h4></a>
                    <span class="view">4.8/5 Excellent <span>(1214 reviewes)</span></span>
                    <div class="price">
                        <span>$18.00</span>
                        <a href="#">Add to Card</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <a href="#"><img src="images/salads-4-310x260.png" alt=""></a>
                </div>
                <div class="img-tex">
                    <a href="#"><h4>Chicken Cutlet</h4></a>
                    <span class="view">4.8/5 Excellent <span>(1214 reviewes)</span></span>
                    <div class="price">
                        <span>$18.00</span>
                        <a href="#">Add to Card</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <a href="#"> <img src="images/salads-5-310x260.png" alt=""></a>
                 </div>
                <div class="img-tex">
                    <a href="#"><h4>Chicken Cutlet</h4></a>
                    <span class="view">4.8/5 Excellent <span>(1214 reviewes)</span></span>
                    <div class="price">
                        <span>$18.00</span>
                        <a href="#">Add to Card</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>