<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="slide_bar/home-slide-3-1920x800.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="slide_bar/home-slide-2-1920x800.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="slide_bar/home-slide-1-1920x800.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--food traditional-->
<div class="treaditional">
    <div class="treaditional_info">
        <h2>A mix of traditional and Midern Cuisine</h2>
        <p>The perfect place to enjoy life & delicious food with friends</p>
    </div>
   <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="tra/awards.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img src="tra/intro-food-img-min.jpg" alt="">
        </div>
    </div>
   </div>
</div>