

<div class="fi">
    <img src="images/main.jpg" alt="">
</div>

<div class="container">
    <div class="tax text-center">
        <h4 style="color: #fff;">Hope for Tomorrow: A Fundraiser for a Better Future</h4>
        <p>Join us for a transformative day at the Innovating Tomorrow summit, where industry leaders and professionals will gather to explore cutting-edge trends, strategies, and technologies that will shape the future of business. </p>
        <a href="event-page">Event</a>
    </div>
</div>