.card{
    box-shadow: 0px 5px 5px -6px #000;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
}
.card-img-top{
    height: 300px;
    width: 350px;
}
.btn:hover{
    background-color: #06495f;
    color: #ffff;
}
.btn{
    background-color: #008CBA; 
    padding: 5px 20px;
    color: #ffff;
}