
<div class="header">
  <span>Balance Transfer</span>
</div>


<div class="balance-transfer-container">
  <h2 class="heading">💸 Transfer Money</h2>

   <form [formGroup]="transferForm" (ngSubmit)="onTransfer()">
    <div class="mb-3">
      <label>From Account Number</label>
      <input formControlName="fromAccountNumber" class="form-control" />
    </div>

    <div class="mb-3">
      <label>To Account Number</label>
      <input formControlName="toAccountNumber" class="form-control" />
    </div>

    <div class="mb-3">
      <label>Amount</label>
      <input type="number" formControlName="amount" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Transfer</button>
  </form>

   <div *ngIf="message" class="alert alert-success mt-2">{{ message }}</div>
   <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>
</div>



<div class="transaction-container">
  <h2>📄 Transaction History</h2>
  <table class="table table-striped" *ngIf="transact.length > 0">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of transact">
        <td>{{ t.amount | number:'1.2-2' | currency:'BDT ':'symbol':'1.0-0' }}</td>
        <td>{{ t.description }}</td>
        <td>{{ t.date | date:'shortDate' }}</td>
      </tr>
    </tbody>
  </table>
</div>


