<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sales">
                <div class="row">
                    <div class="col-md-4 icon-co">
                        <div class="icon">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                    </div>
                    <div class="col-md-8" style="padding: 0;">
                        <div class="sales-infor">
                            <p style="margin: 0;">Tody Sales</p>
                            <span>#0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sales" style="background-color: #FFF2D2;">
                <div class="row">
                    <div class="col-md-4 icon-co">
                        <div class="icon" style="background-color: #FFBB00;">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                    </div>
                    <div class="col-md-8" style="padding: 0;">
                        <div class="sales-infor" >
                            <p style="margin: 0;">Total Category</p>
                            <span>#0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sales" style="background-color: #CFF1FF;">
                <div class="row">
                    <div class="col-md-4 icon-co">
                        <div class="icon" style="background-color: #00B9F7;">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                    </div>
                    <div class="col-md-8" style="padding: 0;">
                        <div class="sales-infor">
                            <p style="margin: 0;">Total Product</p>
                            <span>#0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sales">
                <div class="row">
                    <div class="col-md-4 icon-co">
                        <div class="icon">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                    </div>
                    <div class="col-md-8" style="padding: 0;">
                        <div class="sales-infor">
                            <p style="margin: 0;">Total Bill</p>
                            <span>#0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   

  


  
  