<div class="header">
    <span>Deposit</span>
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-arrow-right-square-fill" style="margin-right: 8px;"></i>Open an Account
    </button> -->
  </div>


  <!--table-->
  <div class="table-container">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>User Name</th>
                    <th>Amount</th>
                    <th>Approved Amount</th>
                    <th>Interest Rate</th>
                    <th>Available Balance</th>
                    <th>Application Date</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1001234567</td>
                    <td>John Doe</td>
                    <td class="balance">100000tk</td>
                    <td>100000tk</td>
                    <td>8.5%</td>
                    <td>2025-04-01</td>
                    <td> 2025-04-05</td>
                    <td>2027-04-05</td>
                </tr>
                <tr>
                    <td>1001234567</td>
                    <td>John Doe</td>
                    <td class="balance">100000tk</td>
                    <td>100000tk</td>
                    <td>8.5%</td>
                    <td>2025-04-01</td>
                    <td> 2025-04-05</td>
                    <td>2027-04-05</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <!--table end-->