<div class="header">
    <span>Loan</span>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-arrow-right-square-fill" style="margin-right: 8px;"></i>Open an Account
    </button>
  </div>

<!-- <h2>Admin Loan Approval Panel</h2>

<table border="1">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Amount</th>
      <th>Interest</th>
      <th>Due Date</th>
      <th>Accept Date</th>
      <th>Monthly Interest</th>
      <th>YearLy Interest</th>
      <th>Approve Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of pendingLoan">
      <td>{{ loan.accountNumber}}</td>
      <td>{{ loan.amount }}</td>
      <td>{{ loan.interestRate }}%</td>
      <td>{{ loan.dueDate }}</td>
      <td>{{loan.acceptDate}}</td>
      <td>{{loan.monthlyInterest}}</td>
      <td>{{loan.yearLyInterest}}</td>
      <td>
        <input type="number" [(ngModel)]="loan.approvedAmount" />
      </td>
      <td>
        <button (click)="approveLoan(loan)">Approve</button>
        <!-- <button (click)="approveLoan(loan.loanId, loan.approvedAmount)">Approve</button>
        <!-- <button (click)="cancelLoan(loan.id)">Cancel</button>
          <button 
        *ngIf="loan.status === 'PENDING' || loan.status === 'APPROVED'" 
        (click)="cancelLoanAdmin(loan.loanId)"
      >Cancel</button>
      </td>
    </tr>
  </tbody>
</table> -->

<table>
  <thead>
    <tr>
      <th>Loan ID</th>
      <th>Account #</th>
      <th>Amount</th>
      <th>Interest</th>
      <th>Due Date</th>
      <th>Approve Amt</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of pendingLoan">
      <td>{{loan.loanId}}</td>
      <td>{{loan.accountNumber}}</td>
      <td>{{loan.amount}}</td>
      <td>{{loan.interestRate}}%</td>
      <td>{{loan.dueDate}}</td>
      <td>
        <input [(ngModel)]="loan.approvedAmount" type="number" />
      </td>
      <td>
        <button (click)="approveLoan(loan)">Approve</button>
        <button (click)="cancelLoanAdmin(loan.loanId)">Cancel</button>
      </td>
    </tr>
  </tbody>
</table>
