<div class="container">
  <h2>Events Booking List</h2>
  @if(events.length>0){
    <table class="table table-striped">
        <thead class="table-success">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Event Date</th>
            <th scope="col">Event Description</th>
            <th scope="col">Event Location</th>
            <th scope="col">Event Op.</th>
          </tr>
        </thead>
        <tbody>
          @for( evts of events; track evts){
          <tr >
            <td>{{events.indexOf(evts)+1}}</td>
            <td>{{evts.event_name}}</td>
            <td>{{evts.event_email}}</td>
            <td>{{evts.event_pnoneNumber}}</td>
            <td>{{evts.event_date}}</td>
            <td>{{evts.event_description}}</td>
            <td>{{evts.event_location}}</td>
            <td>
              <button class="btn btn-success btn-sm me-1"  (click)="openModal(evts)">Update</button>
              <button class="btn btn-danger btn-sm" (click)="deleteEvent(evts)">Cancel</button>
            </td>
          </tr>
        }
        </tbody>
      </table>
    } @else {
      <p>No data found!</p>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-container">
          <form (ngSubmit)="onUpdate()">
             <div>
               <label for="name">Name:</label>
               <input id="name"  type="text" name="event_name" [(ngModel)]="newEvent.event_name" />
             </div>
       
             <div>
               <label for="name">Email:</label>
               <input id="email"  type="email" name="email" [(ngModel)]="newEvent.event_email"/>
             </div>
         
             <div>
               <label for="phonenumber">Phone Number:</label>
               <input id="phonenumber"  type="text" name="phone" [(ngModel)]="newEvent.event_pnoneNumber"/>
             </div>
       
             <div>
               <label for="date">Event Date:</label>
               <input id="date"  type="date" name="date" [(ngModel)]="newEvent.event_date"/>
             </div>
         
             <div>
               <label for="eventDescription">Event Description:</label>
               <textarea id="eventDescription" name="text" [(ngModel)]="newEvent.event_description"></textarea>
             </div>
         
             <div>
               <label for="location">Event Location:</label>
               <input id="location" type="text"  name="location" [(ngModel)]="newEvent.event_location"/>
             </div>
         
             <div>
               <button type="submit">Update</button>
             </div>
          </form>
         </div>
         
      </div>
    </div>
  </div>
</div>
