.table{
    background-color: #327a81;
}
h2{
   margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    background: rgb(11, 169, 142);
    margin: 0;
    height: 61px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    text-align: center;
}
.form-container label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.form-container input,.form-container select,.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.form-container textarea {
    resize: vertical;
}
.form-container button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:disabled {
    background-color: #ccc;
}

.form-container button:hover {
    background-color: #45a049;
}