.table{
    background-color: #327a81;
}
h2{
   margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    background: rgb(11, 169, 142);
    margin: 0;
    height: 61px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}