<div class="deshboard">
   
    
      <div class="card-container">
        <div class="card">
          <h4>MARA'S ACCOUNT</h4>
          <h1>Welcome back, Mara! 👋</h1>
          <p>Everything seems ok and up-to-date with your account since your last visit. Would you like to fund it?</p>
          <button class="btn-purple">Fund my Account</button>
        </div>
    
        <div class="card">
          <h4>ACCOUNT BALANCE</h4>
          <div class="balance">$ 9,543.12</div>
          <p class="green-text">↑ $149.32 Today, Sep 25</p>
          <div class="chart"></div>
        </div>
      </div>
    <!--money transaction-->
    <div class="card-grid" style="margin-top: 20px;">
        <div class="card">
          <h4>Money Out Last 30 Days</h4>
          <div class="amount">$ 0.00</div>
          <div class="description">No outgoing transactions yet</div>
          <div class="line"></div>
          <a href="#" class="view-link">View all →</a>
        </div>
    
        <div class="card">
          <h4>Money In Last 30 Days</h4>
          <div class="amount">$ 0.00</div>
          <div class="description">No incoming transactions yet</div>
          <div class="line"></div>
          <a href="#" class="view-link">View all →</a>
        </div>
      </div>
</div>