
<div class="admin-container">
  <h2>Bank Deposits</h2>


<!-- All Deposits Table -->
<h3 style="margin-top: 40px;">All Deposits</h3>
<table *ngIf="allDeposits.length > 0" class="admin-table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of allDeposits">
      <td>{{ d.accountNumber }}</td>
      <td>{{ d.depositAmount | currency: 'BDT ':'symbol':'1.2-2' }}</td>
      <td [ngClass]="d.bankDepositStatus.toLowerCase()">{{ d.bankDepositStatus }}</td>
      <td>{{d.depositDate}}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="!loading && allDeposits.length === 0">
  <p>No deposit records available.</p>
</div>



