<div class="container">
    <header class="header">
      <h1>Happy Birthday!</h1>
      <h2>You're invited to a special birthday celebration!</h2>
    </header>
    <section class="event-info">
        <h3>Event Details:</h3>
        <p>Join us for an unforgettable birthday celebration filled with fun, laughter, and memories!</p>
        <ul>
          <li><strong>Date:</strong> March 15, 2025</li>
          <li><strong>Time:</strong> 6:00 PM</li>
          <li><strong>Location:</strong> 123 Party Lane, Fun Town</li>
        </ul>
      </section>

      <section class="event-details">
        <h3>What's Happening:</h3>
        <p>Expect delicious food, awesome music, games, and surprises! We have a photographer, so don't forget to smile!</p>
      </section>
      
      <!-- <section class="rsvp-form">
        <h3>RSVP</h3>
        <form (ngSubmit)="onSubmit()" #rsvpForm="ngForm">
          <label for="name">Your Name:</label>
          <input type="text" id="name" name="name" [(ngModel)]="name" required>
      
          <label for="attendance">Will you attend?</label>
          <select id="attendance" name="attendance" [(ngModel)]="attendance" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
      
          <button type="submit" [disabled]="!rsvpForm.form.valid">Submit RSVP</button>
        </form>
      </section> -->

      <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Booking
      </button>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-event-form></app-event-form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
  