<aside class="sidebar">
    <div class="logo">
        <a href="#">
            <img src="logo/logo-sm.png" alt="">
            <span>Bank</span> 
        </a>
    </div>
    <div class="manu_list">
        <ul>
            <li><a routerLink="./admin-deshboard"><i class="bi bi-house-add"></i>Deshboard</a></li>  
            <li><a routerLink="./account-create"><i class="bi bi-arrow-right-square-fill"></i>Account Create</a></li>  
            <li><a routerLink="./deposit"><i class="bi bi-briefcase"></i>Deposit</a></li>  
            <li><a routerLink="./loan"><i class="bi bi-currency-exchange"></i>Loan</a></li>  
            <li><a routerLink=""><i class="bi bi-wallet2"></i>Credit Cards</a></li>  
        </ul>
    </div>
</aside>

